---
layout: default
title: Projects
---

<div class="content">
  <div class="section">
    <h1>Projects</h1>
    <p>Here you can see various projects and other things that I have completed. The most recent entries are first.</p>
  </div>

  <div class="projects">
    {% for post in site.posts %}

    <a
      class="section project"
      href="{{ post.external_url | default: post.url }}"
      {%
      if post.external_url
      %}target="_blank"
      rel="noopener noreferrer"
      {%
      endif
      %}
    >
      <div>
        <h2>{{ post.title }}</h2>
        {% if post.start_date and post.end_date %}
        <p class="post-date">{{ post.start_date | date: "%B %d, %Y" }} - {{ post.end_date | date: "%B %d, %Y" }}</p>
        {% elsif post.start_date %}
        <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
        {% endif %}
        <img class="thumbnail" src="{{ post.thumb_link }}" aria-label="{{ post.title }}" />
        <p class="desc">{{ post.desc }}</p>
      </div>
    </a>

    {% endfor %}
  </div>
</div>
