{% extends "layout.html" %}
{% block content %}
<div class="content">

	<div class="section">

		<h1><a href="/portfolio">Portfolio</a> - Design</h1>
		
		<br>
		<p>Most of my major designs resides on the websites that I have either created or work on. You can find those <a href="/portfolio/web">here</a>.</p>
		<p>Other Designs can be found below.</p>
		<br>
		
		<br>
		<p>Here are some cards I designed for the Outcasts.</p>
		<img src="{{ url_for('static', filename='images/portfolio/design/OCmockup.jpg') }}"/>
		<br>
		
		<br>
		<p>This a logo I designed for the 70th Vida Nueva, a Christian retreat.</p>
		<img src="{{ url_for('static', filename='images/portfolio/design/vida70.png') }}"/>
		<br>
		
		<br>
		<p>This a patch I designed for Vida Nueva.</p>
		<img src="{{ url_for('static', filename='images/portfolio/design/VIDApatch.png') }}"/>
		<br>

	</div>

</div>
{% endblock %}