{% extends "layout.html" %}
{% block content %}
<div class="content">

	<div class="section">

		<h1><a href="/portfolio">Portfolio</a> - Web Development</h1>
		
		<p>This website, along with the <a href="https://outcastsxyz.000webhostapp.com/">Outcasts Official Website</a> are good showcases of my work in web development. A picture can be seen below.</p>
		<img src="{{ url_for('static', filename='images/portfolio/web/outgrab.png') }}"/>
		<br><br><br>
		
		<p>You could also see out my <a href="https://github.com/TimStewartJ">github</a>.</p>
		<br>
		
	</div>

</div>
{% endblock %}