{% extends "layout.html" %}
{% block content %}
<div class="content">
    <div class="section">
        <h1>Career Expo Project - Network Architect/Engineer</h1>
        <h2>What they Do</h2>
        <p>"Computer network architects design and build data communication networks, including local area networks (LANs), wide area networks (WANs), and Intranets. These networks range from small connections between two offices to next-generation networking capabilities such as a cloud infrastructure that serves multiple customers. Network architects must have extensive knowledge of an organization’s business plan to design a network that can help the organization achieve its goals."</p>
        
        <h2>How to Become One</h2>
        <h3>Education</h3>
        <p>"Computer network architects usually need at least a bachelor’s degree in computer science, information systems, engineering, or a related field. Degree programs in a computer-related field give prospective network architects hands-on experience in classes such as network security or database design. These programs prepare network architects to be able to work with the wide array of technologies used in networks."</p>
        <h3>Liscenses and Certifications</h3>
        <p>Generally, certification programs can be a great help for being hired, or applying skills within the field.</p>
        
        <h2>Pay</h2>
        <p>"The median annual wage for computer network architects was $104,650 in May 2017. The median wage is the wage at which half the workers in an occupation earned more than that amount and half earned less. The lowest 10 percent earned less than $58,160, and the highest 10 percent earned more than $162,390."</p>
        
        <h2>Job Outlook</h2>
        <p>Overall, the job is expected to grow 6% from 2016 to 2026, which is just below the average of 7% for all jobs. Due to the necessesity of this job, it will continue to grow as more and more firms move to more technically based infrastructure.</p>
        
        <br>
        <br>
        
        <p> All information obtained via the Bureau of Labor Satistics (https://www.bls.gov/OOH/computer-and-information-technology/computer-network-architects.htm)</p>
        
    </div>
</div>
{% endblock %}