{% extends "layout.html" %}
{% block content %}
<div class="content">
    <div class="section">

        <h1>The Ultimate UCD Major Planner</h1>
        
        <h2>LINKS</h2>
        <a href="https://docs.google.com/spreadsheets/d/17-shoOoptb8rI2lED9oQApRmbCrH7Xhr4B3KW99zuFU/copy?usp=sharing">Blank Copy</a>
        <br>
        <a href="https://docs.google.com/spreadsheets/d/1Vv8vq5rDfS7fxlGbQAKmf9IHG4lEbbRSautU41T0WFI/edit?usp=sharing">Example Sheet</a>
        
        <h2>HOW TO USE / PURPOSE</h2>
        
        <p>
        So after trying to figure out what classes I need to take to fulfill my GE's and major requirements and whatnot, and being too lazy to consult any other peers/staff, 
        I went ahead and made this versatile spreadsheet.
        </p>
        <br>
        <p>
        Essentially the purpose of this is to give you an idea of the big picture of your major. 
        Nothing you plan for in this spreadsheet is guaranteed or final, 
        it's really just to see what classes or units you might need now or in the future without endlessly switching between tabs like 
        MyDegree, Schedule Builder, Class Search Tool, General Catalogue, etc.
        </p>
        <br>
        <p>
        This spreadsheet is split up into 3 major sections: (1) the major-required classes, (2) the non-major-required classes, (3) AP credits.
        </p>
        <br>
        <p>
        When filling out UCD classes (sections 1 & 2), the only columns you should be concerned about are the first 3 (A, B, and C). The third column is the most important. 
        This is where you'll be putting in class codes. It's kinda hard to explain what to do, so there's a gif below of some classes getting filled out. 
        Remember to only tick one box per available topical breadth and core literacy credit. 
        For section 1, you'll want to refer to the general catalog or MyDegree and fill in all the classes that are required for your major. 
        When you're done with that, you can look at the bottom of section 1 to see what requirements you've already filled out (in green). 
        It's okay if some are red! That's what this next section is for.
        </p>
        <br>
        <div class="img"><img src="https://i.imgur.com/LE7RjVY.gifv" style="width:500px"/></div>
        <br>
        <p>
        Section 2 is where you would fill out the requirements that you haven't filled out yet with whatever classes you may want to take. 
        Keep in mind that classes you put here are always subject to change due to scheduling and availability. 
        Filling out this section is basically exactly the same as section 1, but heres a gif anyway (as you can see in it the automatic checkbox-ing can take quite a while to update).
        </p>
        <br>
        <div class="img"><img src="https://i.imgur.com/7bZMIXQ.gifv" style="width:500px"/></div>
        <br>
        <p>
        Finally, in section 3 you would put whatever AP credits you got. Keep in mind that in most cases units you recieve from AP's cannot count toward GE's. 
        Refer to the linked webpage on the spreadsheet to see what will and won't count. Here's a final gif(https://i.imgur.com/nIb4P8C.gifv).
        </p>
        
        <br>
        <div class="img"><img src="https://i.imgur.com/nIb4P8C.gifv" style="width:500px"/></div>
        <br>

        <h2>NOTES</h2>
        <br>
        <p>I made a script for this that automatically puts in or removes checkboxes when a cell is filled or empty. However, it tends to be slow and may be annoying, so there is a checkbox in AB1 (in the header on the right of core literacies) to turn this feature on and off. I would recommend turning it on only when you need the checkboxes to appear, then turning it off after all checkboxes you need have appeared.</p>
        <br>	
        <p>This is mainly for use with undergrad majors. I didn't really have double majors/minors in mind for this either, but I'm sure it'll still prove useful somehow.</p>
        <br>
        <p>I took data straight from the UCD General Catalog, so there shouldn't be any courses missing. All 9600~ courses accounted for!</p>
        
        <br>
        
        <p>Reddit post: <a href="https://www.reddit.com/r/UCDavis/comments/gebdbz/the_ultimate_major_planning_spreadsheet/">here</a></p>
        
    </div>
</div>
{% endblock %}