{% extends "layout.html" %}
{% block content %}
<div class="content">
    <div class="section">
        <h1>My Soda-Free Life.</h1>
        <p>Today, on August 16th, 2018, I realized that I haven't drank soda in a while. I thought to myself, why don't I keep this up eh? So, this challenge was born. Since I can't remember the last time I drank soda, I will mark today, 2018-08-16 as Day 1. Feel free to follow me on this adventure and see how far both you and I can get.</p>
    </div>
</div>
{% endblock %}