{% extends "layout.html" %}
{% block content %}
<div class="content">
	<div class="section">
		<h1>About me</h1>
		<p>My name is Tim. You can also call me timmie. As of now, I am a freshman at UC Davis.  
		You can find things that I'm working on, that I've done, and my resume on here. In the meantime, have a good day!</p>
		
		<h1>About the site</h1>
		<p>This website is basically just for stuff about me and things I want to show off. It's lightweight and made of only HTML and CSS.</p>
	</div>
</div>
{% endblock %}