<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TimStewartJ</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	{% block head %}
	{% endblock %}
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}"/>
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
</head>

<body><div class="container">

<!-- 
Beginning of actual display
The fixed header
-->

<div class="headerholder">
	<div class="header">
		<img src="{{ url_for('static', filename='images/OffProf.png') }}" id="headimg"/><img src="{{ url_for('static', filename='images/Logo.png') }}" id="logoimg"/><div id="headtitle"><h1><a href="https://timstewartj.com">Tim Stewart</a></h1></div>

		<nav>
			<a href="/">Home</a>
			<a href="/misc">Projects</a>
			<!-- <a href="/portfolio">Portfolio</a> -->
			<a href="/social">Social</a>
			<a href="/resume" target="_blank" rel="noreferrer noopener">Resume</a>
		</nav>
	</div>
</div>

{% block content %}
{% endblock %}


<!-- The Footer -->

<div class="footer">
	<h1>The End</h1>
	<p>All rights reserved 2021.</p>
</div>

</div>