{% extends "layout.html" %}

{% macro project(title, link, thumb, desc) -%}
<a class="section project" href="{{ link }}"><div >
    <h2>{{ title }}</h2>
    {% if thumb != "" %}
        {% set thumb_link = url_for('static', filename="images/thumbnails/"+thumb+".png") %}
    {% else %}
        {% set thumb_link = "" %}
    {% endif %}
    <img class="thumbnail" src="{{ thumb_link }}"/>
    <p class="desc">{{ desc }}</p>
</div></a>
{%- endmacro -%}

{% block content %}
<div class="content">

    <div class="section">
        <h1>Projects</h1>
        <p>Here you can see various projects and other things that I have completed. The most recent entries are first.</p>
    </div>

    <div class="projects">

        {{ project("getsac.online", "https://getsac.online", "getsac", "A simple 2D game that won 1st in Game Development at SacHacks III.") }}

        {{ project("UC Davis Automatic Schedule Builder", "https://timstewartj.github.io/UCDScheduleBuilder/", "ucdschgen", "A tool that will automatically generate schedules given an input of classes.") }}

        {{ project("Elliptical Illusion","https://334.itch.io/elliptical-illusion", "ellill", "A quick 2D game made for a game jam in early Summer of 2020.") }}

        {{ project("UC Davis Major Planner","misc/UCDplanner", "majplanner", "An extensive spreadsheet that makes it easier to plan classes for a major at UC Davis.") }}

        {{ project("Career Expo Project","misc/careerexpo", "cexpo", "A project for a class in high school.") }}

        {{ project("Spreadsheets of Things I've Completed", "misc/spreadsheet", "spdsht", "Currently contains spreadsheets of movies I've watched and games I've completed.") }}

    </div>
    
</div>
{% endblock %}