{% extends "layout.html" %}
{% block content %}
<div class="content">

    <div class="section">
        <h1>My Miscellaneous Pages</h1>
        <p>Here you can see various projects and other things that I have completed. The most recent entries are first.</p>
    </div>

    <div class="section">
        <h2>getsac.online</h2>
        <p><a href="https://getsac.online">Click to see!</a></p>
        <p class="date">A simple 2D game that won 1st in Game Development at SacHacks III.</p>
    </div>
    
    <div class="section">
        <h2>UC Davis Automatic Schedule Builder</h2>
        <p><a href="https://timstewartj.github.io/UCDScheduleBuilder/">Click to see!</a></p>
        <p class="date">A tool that will automatically generate schedules given an input of classes.</p>
    </div>
    
    <div class="section">
        <h2>Elliptical Illusion</h2>
        <p><a href="https://334.itch.io/elliptical-illusion">Click to see!</a></p>
        <p class="date">A quick 2D game made for a game jam in early Summer of 2020.</p>
    </div>
    
    <div class="section">
        <h2>UC Davis Major Planner</h2>
        <p><a href="misc/UCDplanner">Click to see!</a></p>
        <p class="date">An extensive spreadsheet that makes it easier to plan classes for a major at UC Davis.</p>
    </div>
    
    <div class="section">
        <h2>Career Expo Project</h2>
        <p><a href="misc/careerexpo">Click to see!</a></p>
        <p class="date">A project for a class in high school.</p>
    </div>
    
    <div class="section">
        <h2>Spreadsheets of Things I've Completed</h2>
        <p><a href="misc/spreadsheet">Click to see!</a></p>
        <p class="date">Currently contains spreadsheets of movies I've watched and games I've completed.</p>
    </div>
    
</div>
{% endblock %}