{% extends "layout.html" %}
{% block content %}
<div class="content">

    <div class="section">

        <h1>My Portfolio</h1>

        <p>Under construction.</p>
        
        <!-- OLD stuff
        <!--Web Design--
        <h2><a href="portfolio/web" id="h2Link">Web Stuff</h2>
        <img id="thumb" src="{{ url_for('static', filename='images/portfolio/web/outgrab.png') }}"/></a>
        <p><i>Here is an example</i></p>
        
        <!-- Other Design --
        <br>
        <h2><a href="portfolio/design" id="h2Link">Design Stuff</h2>
        <img id="thumb" src="{{ url_for('static', filename='images/portfolio/design/OCmockup.jpg') }}"/></a>
        <p><i>Here is an example</i></p>
        <br>
        <p>In addition to the other things that you might've seen me do, <b>I also like to design things.</b> 
        Although most of what I design is not exceptional, I do occasionally make something good. 
        Click to see more!</p>
        
        <!--Photograpy --
        <br>
        <h2><a href="portfolio/pics" id="h2Link">Photography Stuff</h2>
        <img id="thumb" src="{{ url_for('static', filename='images/portfolio/pics/bball01.jpg') }}"/></a>
        <p><i>Here is an example</i></p>
        <br>
        <p>In addition to the above things, I also like to take photos.</p>
        -->
        
    </div>

</div>
{% endblock %}