{% extends "layout.html" %} {% block head %}
<link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous"
/>
{% endblock %} {% block content %}
{% macro link(title, link, icon) %}
<a
    href="{{ link }}"
    target="_blank"
    rel="noreferrer noopener"
    ><i class="fab fa-{{ icon }}"></i> {{ title }}</a
>
{% endmacro %}
<div class="content">
    <div class="section social">
        <h1>My Socials</h1>
        <p>All links will redirect to a new tab.</p> 
        {{ link("Github", "https://github.com/TimStewartJ", "github")}}

        {{ link("Instagram", "https://instagram.com/timstewartj/", "instagram")}}

        {{ link("YouTube", "https://www.youtube.com/channel/UCe95ZA30ro1-ANQyO1wXVzA", "youtube")}}

        {{ link("timmie#6383", "https://discord.com/users/372696487290863618", "discord")}}

    </div>
</div>
{% endblock %}
