{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="content">

    <div class="section social">
        <h1>My Socials</h1>
        <h2><a href="https://github.com/TimStewartJ" target="_blank" rel="noreferrer noopener"><i class="fa fa-github" style="font-size:26px"></i> Github</a></h2>
        <h2><a href="https://www.instagram.com/timstewartj/" target="_blank" rel="noreferrer noopener"><i class="fa fa-instagram" style="font-size:26px"></i> Instagram</a></h2>
        <h2><a href="https://www.youtube.com/channel/UCe95ZA30ro1-ANQyO1wXVzA" target="_blank" rel="noreferrer noopener"><i class="fa fa-youtube-play" style="font-size:26px"></i> YouTube</a></h2>
        <h2><a href=""><i class="fa fa-" style="font-size:26px"></i> </a></h2>
        <h2><a href=""><i class="fa fa-" style="font-size:26px"></i> </a></h2>
        <h2><a href=""><i class="fa fa-" style="font-size:26px"></i> </a></h2>
        <h2><a href=""><i class="fa fa-" style="font-size:26px"></i> </a></h2>
    </div>
</div>
{% endblock %}