{% extends "layout.html" %}
{% block content %}
<div class="content">

    <div class="section social">
        <h1>My Socials</h1>
        <h2><a href="https://www.youtube.com/channel/UCe95ZA30ro1-ANQyO1wXVzA"><i class="fa fa-youtube-play" style="font-size:26px"></i> YouTube</a></h2>
        <h2><a href="https://www.instagram.com/timstewartj/"><i class="fa fa-instagram" style="font-size:26px"></i> Instagram</a></h2>
        <h2><a href="https://github.com/TimStewartJ"><i class="fa fa-github" style="font-size:26px"></i> Github</a></h2>
        <h2><a href=""><i class="fa fa-" style="font-size:26px"></i> </a></h2>
        <h2><a href=""><i class="fa fa-" style="font-size:26px"></i> </a></h2>
        <h2><a href=""><i class="fa fa-" style="font-size:26px"></i> </a></h2>
        <h2><a href=""><i class="fa fa-" style="font-size:26px"></i> </a></h2>
    </div>
</div>
{% endblock %}