<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TimStewartJ</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/favicon/favicon.ico" | relative_url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | relative_url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | relative_url }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | relative_url }}" />
    <link rel="manifest" href="{{ "/assets/site.webmanifest" | relative_url }}" />
  </head>

  <body>
    <div class="container">
      <!-- 
Beginning of actual display
The fixed header
-->

      <div class="headerholder">
        <div class="header">
          <img src="{{ "/assets/images/OffProf.png" | relative_url }}" id="headimg" /><img src="{{ "/assets/images/Logo.png" | relative_url }}" id="logoimg" />
          <div id="headtitle">
            <h1><a href="{{ "/" | relative_url }}">Tim Stewart</a></h1>
          </div>

          <nav>
            <a href="{{ "/" | relative_url }}">Home</a>
            <a href="{{ "/projects" | relative_url }}">Projects</a>
            <!-- <a href="/portfolio">Portfolio</a> -->
            <a href="{{ "/social" | relative_url }}">Social</a>
            <a href="{{ "/assets/Resume.pdf" | relative_url }}" target="_blank" rel="noreferrer noopener">Resume</a>
          </nav>
        </div>
      </div>

      {{content}}

      <!-- The Footer -->

      <div class="footer">
        <h1>The End</h1>
        <p>All rights reserved {{ site.time | date: '%Y' }}.</p>
      </div>
    </div>
  </body>
</html>
